@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --font-weight-regular: 400;
  --font-weigth-semi-bold: 600;

  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-bai-jamjuree);
  font-weight: var(--font-weight-regular);
  font-size: 1.8rem;
  
  color: var(--grayish-blue);
  line-height: 1.6;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4.8rem;
  padding: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grayish-blue);
}

h1 {
    font-size:3.8rem;
    margin-bottom: 1.4rem;
  
  }

h2 {
    margin-bottom: 1.4rem;
    font-size: 3.2rem;
}
 h3 {
    margin-bottom: 1.4rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 42rem;
}
.btn {
    border: none;
    border-radius: 24px;
    padding: 1.6rem;
    width: 20rem;
    color: white;
    font-weight: var(--font-weigth-semi-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-ios {
    background-color: var(--strong-cyan);
    box-shadow: 0 2px 4px var(--strong-cyan);
}

.btn-mac {
    background-color: var(--light-blue);
    box-shadow: 0 2px 4px var(--light-blue);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.description {
    width: 64rem;
    margin-bottom: 3.2rem;

}


.small-container {
    width: 65%;
    margin-bottom:6.8rem;
}

.small-description {
    font-size: 1.6rem;
}

