:root {
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --font-weight-regular: 400;
  --font-weigth-semi-bold: 600;

  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

header {
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1)
    ),
    url(../images/bg-header-desktop.png) no-repeat center center;
    background-size: cover;
   
}

.header-logo {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2.4rem;
}


.computer {
    display: flex;
    margin-bottom: 4.8rem;
    

}
.computer-img {
    width: 50%;
}

.computer-img img {
    width: 100%;
}


.computer-text {
    width: 50%;
    display: flex;
    flex-direction: column;
   

   padding: 6.4rem 10.2rem;
}


.accessibility img {
    margin-top: 6.4rem;
    width: 50%;
}

.tools {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6.4rem;
    gap: 2rem;
}

.tool{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 25%;
}

.tool img{
    margin-bottom:5.4rem;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 6.4rem 9.6rem;
    padding-top: 6.4rem;
}

footer {
    height: 10rem;
    background-color: hsl(200, 23%, 95%);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center; /* Dikey ortalama */
    justify-items: flex-start; /* Yatay ortalama */
}
footer *:hover {
    color: var(--strong-cyan);
    cursor: pointer;
}
.faq, .contact, .privacy, .press  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
}
.footer-logo-img {
    width: 6rem;
    height: 6rem;
  
}

.faq {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.contact {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
  
}

.privacy {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
   
}

.press {
    grid-column: 3 / 4;
    grid-row: 2 / -1;
  
}

.install {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    
   
}

.social-links {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end; /* İçerikleri sağa yaslar */
    align-items: center;
    gap: 1rem;
    
}

.social-links img:hover {
    filter: brightness(0) saturate(100%) invert(54%) sepia(95%) saturate(592%) hue-rotate(112deg) brightness(92%) contrast(92%);

}

.attribution {
    grid-column: 5 / 6;
    grid-row: 2/ -1;
   
}

.attribution a {
    text-decoration: none;
}

@media (max-width:1200px) {
    .computer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    
    }
    .computer-text {
        width:80%;
        align-items: center;
    
       margin: 0 auto;
    }

    .computer-img {
        width: 80%;
    }

    footer {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        align-items: center; /* Dikey ortalama */
        justify-items: center; /* Yatay ortalama */
    }
    
  
    .footer-logo {
        grid-column: 1 / 2;
        grid-row: 1 /2;
        margin-top: 1.4rem;
        
    }
    
    
    .faq {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
    }
    
    .contact {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      
    }
    
    .privacy {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
       
    }
    
    .press {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
      
    }
    
    .install {
        grid-column: 1 / 2;
        grid-row: 6/ 7;
        
       
    }
    
    .social-links {
        grid-column: 1/ 2;
        grid-row:7 / 8;
        justify-content:center; 
        align-items: center;
       
        
    }
    
  
    
    .attribution {
        grid-column: 1/ 2;
        grid-row: 8/9;
       
    }
    
    
    
}

@media (max-width:975px){
    .tools {
        flex-direction: column;
        align-items: center;
    }
    
    .tool{
       
        width: 80%;
        margin-bottom: 3.2rem;
    }
    
    .tool img{
        margin-bottom:6.4rem;
    }

    .brands {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 6.4rem 3.2rem;
        padding-top: 0rem;
    }
    .brands img {
        margin-bottom: 6.4rem;
        
    }
    .accessibility img {
        margin-top: 6.4rem;
        width: 100%;
    }

}

@media (max-width:675px) {

    .buttons {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .btn {
       
        width: 80%;
        margin-bottom: 1.6rem;
        
    }
   

      .description {
        width: 80%;
    
    }
    
  
}